<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <title>Employee Management</title>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Employee Management</h1>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Wage</th>
        </tr>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.wage}"></td>
            <td>
                <a th:href="@{/edit(id=${employee.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete(id=${employee.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Add Employee</a>
</div>
</body>
</html>